<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>


    <div class="container mt-3" id="app">
       <button @click="getPokemon()" class="btn btn-primary mb-5">Generar</button>
        
       <div v-if="pokemon!=null" class="card" style="width: 18rem;">
        <img :src="pokemon.sprites.other.dream_world.front_default" class="card-img-top" alt="..."> 
        <div class="card-body">
          <h5 class="card-title">{{pokemon.name}}</h5>
         
          <p>Habilidades</p>
          <span v-for="abilidad in pokemon.abilities" class=" badge bg-success">
            {{abilidad.ability.name}}
           </span>

           <ul v-for="indice in pokemon.game_indices" class="list-group list-group-vertical">
            <li class="list-group-item">{{indice.version.name}}</li>
          </ul>


          <h5 class="card-title">Altura: {{pokemon.height}} </h5>
          <h5 class="card-title">Experiencia: {{pokemon.base_experience}}</h5>
          <h5 class="card-title">Id: {{pokemon.id}}</h5>


          <ul v-for="indice in pokemon.game_indices" class="list-group">
            <li class="list-group-item">{{indice.version.name}}</li>
          </ul>
           
          
        </div>
      </div> 

    </div>
    
      
    </ul>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src ="api.js"></script>
    




</body>
</html>